# Config
DISCORD_BOT_ENABLED=true
WEB_API_ENABLED=true

#
# Base Config
#
TEMPERATURE=1.0
VOICE=
BREATH_ENABLED=true
MAX_TOKENS=4096
HISTORY_LIMIT=16

#
# Prompts
#
DM_PROMPT=
VOICE_PROMPT=
WEB_PROMPT=

#
# Discord Config
#
DISCORD_TOKEN=
CLIENT_ID=
STATUS="online" # "online" | "idle" | "dnd" | "invisible"
ACTIVITY=
BOT_CHANNEL_NAME=
STREAMING_INTERVAL=1000 # Set to 0 to disable text streaming
MESSAGE_CHAR_LIMIT=2000

#
# LLM Config
#
LLM_URL=http://127.0.0.1:1234/v1/chat/completions
LLM_MODEL=
LLM_VISION=true
ENABLE_TOOLS=true
MAX_TOOL_TURNS=10

#
# Additional Servers
#
IMG_URL=
STT_URL=
TTS_URL=

#
# Web Config
#
FIREBASE_PROJECT_ID="project-id-here"
API_PORT=3000
SQLITE_DB_NAME=web.db
CORS_ORIGINS=https://test.frontend.com,https://localhost:3000